@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.gradient-bg {
    background: linear-gradient(135deg, #be8453 0%, #e0b29d 100%);
}

.glass-effect {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(251, 217, 200, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.hover-lift {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.bg-imagen {
    background-image: url("https://img.freepik.com/fotos-premium/interior-sala-estar-fondo-pared-blanca-vacia-diseno-minimalista-representacion-3d_43151-688.jpg");
    background-size: cover; /* Ajusta el tamaño para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: max-content;
}
